{% extends 'home/layout.html' %}

{% block title %} WELCOME {% endblock title %}

{% block navbar %}


    {% if user.username %}
    <li class="li"><a href="{% url 'orders:index' %}">Order</a></li>
    {% else %}
    <li><a href="{% url 'accounts:login' %}">Log In</a></li>
    {% endif %}


<li>
    {% if user.username %}
    <a href="{% url 'orders:cart' %}">Cart</a>
    {% endif %}
</li>

<li id="signup">
    {% if user.username %}
    <a href="{% url 'accounts:logout' %}">Log Out</a>
    {% else %}
    <a href="{% url 'accounts:signup' %}">Sign Up</a>
    {% endif %}
</li>

<li id="mkmc">Call Us</li>
{% endblock navbar %}

{% block body %}
<div class="home-pizza">

    <div class="mySlides fade">
        {% load static %}
        <img src="{% static 'home/pizza-1.jpg' %}" alt="">
    </div>

    <div class="mySlides fade">
        {% load static %}
        <img src="{% static 'home/pasta-1.jpg' %}" alt="">
    </div>

    <div class="mySlides fade">
        {% load static %}
        <img src="{% static 'home/sub-1.jpeg' %}" alt="">
    </div>

    <div class="mySlides fade">
        {% load static %}
        <img src="{% static 'home/salad-1.jpg' %}" alt="">
    </div>

    <div class="mySlides fade">
        {% load static %}
        <img src="{% static 'home/dinnerplatter-1.jpg' %}" alt="">
    </div>

</div>


{% endblock body %}


{% block js %}
<script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) { slideIndex = 1 }
        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides, 2000); // Change image every 2 seconds
    }
</script>
{% endblock js %}