<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mukta&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>

<body>
    <header>
        <div id="mt">
            <a href="{% url 'home:index' %}">Pinnochio's Pizza & Subs</a>
        </div>
        <div id="mr" class="hide">
            <ul>

                {% block navbar %}

                {% endblock navbar %}

            </ul>
        </div>
        <div id="nav-bar">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
    </header>

    {% block body %}
    {% endblock body %}

    <div class="footer">
        <div class="footer-div-1">
            <ul>
                <li>Company</li>
                <li>About</li>
                <li>Legal</li>
                <li>Social Media</li>
            </ul>
        </div>

        <div class="footer-div-2">
            <footer>
                This is not an Official Website of Pinnochio's Pizza & Subs, MA, Boston.
                <br>
                All the given data belongs to them.
            </footer>
        </div>
    </div>

    <script>
        var scrwdh = screen.width;
        var div = document.getElementById('mr');
        var hidebutton = document.querySelector('#nav-bar');
        hidebutton.onclick = function () {
            if (div.className.indexOf('hide') !== -1) {
                div.className = div.className.replace('hide', 'show');
            }
            else {
                div.className = div.className.replace('show', 'hide');
            }
        }
    </script>


    {% block js %}

    {% endblock js %}

</body>

</html>