{% extends 'home/layout.html' %}

{% block title %}
Order | Dinner Platter
{% endblock title %}


{% block body %}
<h1>Dinner Platter</h1>

<div class="menu-block">

        <div class="menu-image">
                {% load static %}
                <img src="{% static 'home/dinnerplatter-order.jpg' %}" alt="Regular Pizza">
        </div>

        <div class="menu-select">
                <div>
                        {% for dinner_platter in dinner_platter_list %}
                        <div>{{ dinner_platter }}</div>
                        {% endfor %}
                </div>
        </div>

</div>

{% endblock body %}