{% extends 'home/layout.html' %}

{% block title %}
Order | Dinner Platter
{% endblock title %}


{% block body %}
<h1>Dinner Platter</h1>

<div class="menu-block">

        <div class="menu-image">
                {% load static %}
                <img src="{% static 'home/dinnerplatter-order.jpg' %}" alt="Regular Pizza">
        </div>

        <div class="menu-select">
                <form method="post" action="{% url 'orders:addToCart' %}">
                        <table>
                                <tr>
                                        <th>Food Item</th>
                                        <th>Small</th>
                                        <th>Large</th>
                                </tr>
                                {% for dinner_platter in dinner_platter_list %}
                                <tr>
                                        <td>{{ dinner_platter.platter_name }}</td>
                                        <td><input type="radio" name="row-1"
                                                        data-col="1">{{ dinner_platter.platter_small_price }}</td>
                                        <td><input type="radio" name="row-1"
                                                        data-col="2">{{ dinner_platter.platter_large_price }}</td>
                                </tr>
                                {% endfor %}
                        </table>
                        <button type="submit">Add to cart</button>
                </form>
        </div>

</div>


{% endblock body %}