{% extends 'home/layout.html' %}

{% block title %}
Order | Pasta
{% endblock title %}

{% block navbar %}

<li class="li">
    <a href="{% url 'orders:index' %}">Order</a>
</li>

<li>
    <a href="{% url 'orders:cart' %}">Cart</a>
</li>

<li id="signup">
    <a href="{% url 'accounts:logout' %}">Log Out</a>
</li>

<li id="mkmc">Call Us</li>
{% endblock navbar %}


{% block body %}

<h1>Pasta</h1>

<div class="menu-block">

        <div class="menu-image">
                {% load static %}
                <img src="{% static 'home/pasta-order.jpg' %}" alt="Regular Pizza">
        </div>

        <div class="menu-select">
                <form method="post" action="{% url 'orders:addToCart' %}">
                        {% csrf_token %}
                        <table>
                                {% for pasta in pasta_list %}
                                <tr>
                                        <td>{{ pasta.pasta_name }}</td>
                                        <td><input type="radio" name="productInfo" value="{{ pasta.productID }} pasta_price"
                                                        data-col="1">{{ pasta.pasta_price }}</td>
                                </tr>
                                {% endfor %}
                        </table>
                        <button type="submit">Add to cart</button>
                </form>
        </div>

</div>

{% endblock body %}