{% extends 'home/layout.html' %}

{% block title %}
Order | Salad
{% endblock title %}


{% block body %}

<h1>Salad</h1>

<div class="menu-block">
        {% csrf_token %}

        <div class="menu-image">
                {% load static %}
                <img src="{% static 'home/salad-order.jpg' %}" alt="Regular Pizza">
        </div>

        <div class="menu-select">
                <form method="post" action="{% url 'orders:addToCart' %}">
                        <table>
                                {% for salad in salad_list %}
                                <tr>
                                        <td>{{ salad.salad_name }}</td>
                                        <td><input type="radio" name="product" value="salad_price" data-col="1">{{ salad.salad_price }}</td>
                                </tr>
                                {% endfor %}
                        </table>
                        <button type="submit">Add to cart</button>
                </form>
        </div>

</div>

{% endblock body %}