{% extends 'home/layout.html' %}

{% block title %}
Order | Subs
{% endblock title %}

{% block navbar %}

<li class="li">
    <a href="{% url 'orders:index' %}">Order</a>
</li>

<li>
    <a href="{% url 'orders:cart' %}">Cart</a>
</li>

<li id="signup">
    <a href="{% url 'accounts:logout' %}">Log Out</a>
</li>

<li id="mkmc">Call Us</li>
{% endblock navbar %}


{% block body %}
<h1>Subs</h1>

<div class="menu-block">

        <div class="menu-image">
                {% load static %}
                <img src="{% static 'home/subs-order.jpg' %}" alt="Regular Pizza">
        </div>

        <div class="menu-select">
                <form method="post" action="{% url 'orders:addToCart' %}">
                        {% csrf_token %}
                        <table>
                                <tr>
                                        <th>Food Item</th>
                                        <th>Small</th>
                                        <th>Large</th>
                                </tr>
                                {% for sub in sub_list %}
                                <tr>
                                        <td>{{ sub.sub_name }}</td>
                                        <td><input type="radio" name="productInfo"
                                                        value="{{ sub.productID }} sub_small_price"
                                                        data-col="1">{{ sub.sub_small_price }}
                                        </td>
                                        <td><input type="radio" name="productInfo"
                                                        value="{{ sub.productID }} sub_large_price"
                                                        data-col="2">{{ sub.sub_large_price }}
                                        </td>
                                </tr>
                                {% endfor %}
                        </table>
                        <button type="submit">Add to cart</button>
                </form>
        </div>

</div>
{% endblock body %}