body {
  padding: 0px;
  margin: 0px;
  background: #ffffff;
  top: 70px;
}

header {
  position: sticky;
  top: 0px;
  left: 0px;
  padding: 0 90px;
  background: #8e1576;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
}

header #mt {
  height: 60px;
  line-height: 60px;
  float: left;
}

header #mt a {
  color: #ececec;
  text-decoration: none;
  font-size: 1.7em;
  font-family: "Pacifico", cursive;
}

header #mr {
  float: right;
}

header #mr ul {
  padding: 14px 0px;
  margin: 0px;
}

header #mr ul li {
  text-decoration: none;
  display: inline-block;
  margin: 0 15px;
  font-size: 1.2em;
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  list-style-type: none;
}

header #mr ul li a {
  text-decoration: none;
  padding: 0 0px;
  color: #ececec;
}

#mkmc {
  border-left: #f1f1f1 solid;
  padding-left: 30px;
  color: #ececec;
}

header #mr ul li a:hover,
header #mr ul li a.active {
  text-decoration: none;
  color: #ffffff;
}

#mkmc:hover,
#mkmc.active {
  text-decoration: none;
  color: #ffffff;
}

#mt .a:hover,
#mt .a.active {
  text-decoration: none;
  color: #ffffff;
}

#nav-bar {
  color: #f1f1f1;
  display: none;
  float: left;
  font-size: 1.6em;
  margin-top: 15.7px;
  cursor: pointer;
}

@media (max-width: 806px) {
  header {
    padding: 0 20px;
  }

  #nav-bar {
    display: block;
    margin-bottom: 20px;
  }

  header #mt {
    float: right;
    width: 93%;
    text-align: center;
  }

  header #mr {
    display: block;
    position: absolute;
  }

  #mr {
    float: none;
  }

  header #mr ul li{
    display: block;
  }
}