body {
  padding: 0px;
  margin: 0px;
  background: #fff0fc;
  top: 70px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: sticky;
  top: 0px;
  left: 0px;
  padding: 0 90px;
  background: #8e1576;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  z-index: 10;
}

header #mt {
  height: 60px;
  line-height: 60px;
  float: left;
}

header #mt a {
  color: #ececec;
  text-decoration: none;
  font-size: 1.7em;
  font-family: "Pacifico", cursive;
}

header #mr {
  float: right;
}

header #mr ul {
  padding: 14px 0px;
  margin: 0px;
}

header #mr ul li {
  text-decoration: none;
  display: inline-block;
  margin: 0 15px;
  font-size: 1.2em;
  font-family: "Mukta", sans-serif;
  font-weight: 500;
  list-style-type: none;
}

header #mr ul li a {
  text-decoration: none;
  padding: 0 0px;
  color: #ececec;
}

#mkmc {
  border-left: #f1f1f1 solid;
  padding-left: 30px;
  color: #ececec;
}

header #mr ul li a:hover,
header #mr ul li a.active {
  text-decoration: none;
  color: #ffffff;
}

#mkmc:hover,
#mkmc.active {
  text-decoration: none;
  color: #ffffff;
}

#mt .a:hover,
#mt .a.active {
  text-decoration: none;
  color: #ffffff;
}

#nav-bar {
  color: #ececec;
  display: none;
  float: left;
  font-size: 1.6em;
  margin-top: 15.7px;
  cursor: pointer;
}

.home-pizza {
  margin: 0px;
  padding: 0px 10%;
  width: 80%;
  position: static;
  z-index: -10;
}

.mySlides img {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow: 5px 0px 5px #5a5854, -5px 0px 5px #5a5854;
}

.mySlides {
  display: none;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.login-h2 {
  text-align: center;
}

.login-form form input {
  font-size: 120%;
  color: #5a5854;
  background-color: #f2f2f2;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 5px 5px 5px 30px;
  background-repeat: no-repeat;
  background-position: 8px 9px;
  display: block;
  margin-bottom: 10px;
}

.footer {
  width: 80%;
  background-color: #7f5fff;
  height: 200px;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 0px;
  position: static;
  z-index: 9;
}

.footer-div-1 {
  height: 50%;
  color: #ffffff;
  border-bottom: 1px solid #e8e2fe;
}

.footer-div-1 ul {
  padding: 0px;
  height: 100%;
}

.footer-div-1 ul li {
  display: inline-block;
  font-family: "Mukta", sans-serif;
  width: 24%;
  text-align: center;
}

.footer-div-2 {
  height: 50%;
  color: #e8e2fe;
  font-family: sans-serif;
  font-weight: 300;
  font-size: 0.7em;
  text-align: center;
  padding-top: 10px;
}

@media (max-width: 806px) {
  header {
    padding: 0 20px;
  }

  #nav-bar {
    display: block;
  }

  header #mt {
    float: right;
    width: 93%;
    text-align: center;
  }

  header #mr {
    position: absolute;
    top: 60px;
    left: 0px;
    float: none;
    width: 40%;
    background-color: #560947;
    overflow: hidden;
  }

  .show {
    transition: max-height 0.6s ease-out;
    max-height: 130px;
  }

  .hide {
    transition: max-height 0.6s ease-out;
    max-height: 0px !important;
  }

  header #mr ul {
    padding: 0px;
  }

  header #mr ul li {
    display: block;
    margin: 0px 20px;
    padding: 5px 20px;
    text-align: left;
  }

  #signup {
    border-top: 1px #ececec solid;
  }

  #mkmc {
    padding-left: 0px;
    border-left: 0px;
    border-top: 1px #ececec solid;
    margin-bottom: 4px;
  }

  .home-pizza {
    background-color: #fae0f5;
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
}

@media (max-width: 450px) {
  header #mt a {
    font-size: 1.3em;
  }

  #mkmc {
    margin-bottom: 3px;
  }

  header #mr ul li {
    font-size: 1em;
  }

  .footer {
    padding-top: 5px;
    height: 220px;
  }

  .footer-div-1 {
    height: 60%;
  }

  .footer-div-2 {
    height: 40%;
  }

  .footer-div-1 ul li {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0px 2px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
  }
}
